*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.todo-cont{
  width: 40%;
  min-width: 25rem;
  height: auto;
  border: 1px solid;
  border-radius: 10px;
  background: gainsboro;
  margin: 4vh auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
}
.heading{
  display: flex;
  gap: 1rem;
}
.heading h3{
  font-size: 3rem;
  color: #8c8c12;
}
.heading img{
  width: 3rem;
  height: 3rem;
}
.inputAdd{
  width: 90%;
  height: 2.5rem;
}
.inputAdd input{
  font-size: 1.5rem;
  width: 75%;
  height: inherit;
  border: 1px solid;
  outline: none;
  border-radius: 20px 0 0 20px;
  padding-left: 1rem;
}
.inputAdd button{
  width: 25%;
  height: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  color: green;
  border: 1px solid green;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
ul{
  width: 80%;
  list-style: decimal;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
li{
  font-size: 1.2rem;
  color: rgb(22, 27, 29);
  width: 100%;
  min-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editBtn{
  display: flex;
  gap: 0.5rem;
}
.editBtn button{
  height: 1.5rem;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.edit{
  color: purple;
}
.delete{
  color: red;
}
.clearAndInfo{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskInfo{
  margin: 1rem 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.clearAndInfo button{
  width: 40%;
  height: 30px;
  margin-bottom: 1rem;
  padding: 0 4px;
  background: rgb(227, 170, 25);
  color: darkred;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
.task{
  display: flex;
  gap: 10px;
}
.circle, .checkImg{
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  margin-top: 2px;
  color: #8c8c12;
}
